<div class="rounded-sm shadow-sm w-full p-2 mt-4 font-semibold text-gray-700" data-testid="payer">
  <div class="flex items-center mb-2">
    <span>{{ payer().name }}</span>
    <!--
    <button
      class="hover:shadow-gray-700 hover:cursor-pointer bg-gray-50 shadow-sm ml-1 text-cyan-700 flex items-center justify-center p-0.5 rounded-full self-start"
    >
      <span class="material-icons" style="font-size: 14px">edit</span>
    </button>
    <button
      class="hover:shadow-gray-700 hover:cursor-pointer bg-gray-50 shadow-sm ml-1 text-cyan-700 flex items-center justify-center p-0.5 rounded-full self-start"
    >
      <span class="material-icons" style="font-size: 14px">delete</span>
    </button>
  --></div>

  <div class="my-2 py-2 border-y-1 border-dashed border-gray-300">
    @for (expense of payer().expenses; track expense.id) {
    <app-expense [expense]="expense"></app-expense>
    }
  </div>
  <div class="flex justify-between items-center">
    <input
      type="text"
      placeholder="new expense name"
      data-testid="expense-name"
      [(ngModel)]="expenseName"
      class="focus:border-cyan-700 hover:bg-gray-100 placeholder:text-gray-400 outline-none border-1 p-1 rounded-sm border-gray-300 bg-gray-50 text-xs w-2/3"
    />
    <input
      onclick="this.select()"
      type="number"
      placeholder="0.00"
      data-testid="expense-amount"
      [(ngModel)]="expenseAmount"
      class="focus:border-cyan-700 hover:bg-gray-100 placeholder:text-gray-400 outline-none border-1 ml-1 p-1 rounded-sm border-gray-300 bg-gray-50 text-xs w-1/4"
    />
    <button
      class="hover:shadow-cyan-700 hover:cursor-pointer bg-gray-50 shadow-sm ml-1 text-cyan-700 flex items-center justify-center p-1 rounded-full"
      data-testid="add-expense"
      (click)="addExpense()"
    >
      <span class="material-icons" style="font-size: 20px">add_task</span>
    </button>
  </div>
</div>
