<div class="rounded-lg shadow-sm w-full p-4 mt-4 font-semibold text-gray-700" data-testid="payer">
  <h3 class="text-lg font-bold text-gray-700">{{ payer().name }}</h3>

  <div class="my-3">
    @for (expense of payer().expenses; track expense.id) {
    <app-expense [expense]="expense"></app-expense>
    }
  </div>
  <div class="flex justify-between items-center gap-2">
    <input
      type="text"
      placeholder="new expense name"
      data-testid="expense-name"
      [(ngModel)]="expenseName"
      class="p-2 focus:border-cyan-400 placeholder:text-gray-400 outline-none border rounded-lg border-gray-200 text-xs w-2/3 transition-colors"
    />
    <input
      onclick="this.select()"
      type="number"
      placeholder="0.00"
      data-testid="expense-amount"
      [(ngModel)]="expenseAmount"
      class="p-2 focus:border-cyan-400 placeholder:text-gray-400 outline-none border rounded-lg border-gray-200 text-xs w-1/4 transition-colors"
    />
    <button
      class="p-2 bg-cyan-700 hover:bg-cyan-800 text-white font-semibold rounded-lg hover:scale-105 transition-all hover:cursor-pointer flex items-center justify-center"
      data-testid="add-expense"
      (click)="addExpense()"
    >
      <span class="material-icons" style="font-size: 18px">add_task</span>
    </button>
  </div>
</div>
