<div class="mb-16">
  <div class="flex items-center border-b-1 pb-5 border-gray-300 justify-center">
    <h1 class="font-bold text-4xl place-self-center text-cyan-700" data-testid="room-name">
      {{ roomStore.room()?.name }}
    </h1>
    <!--
    <button
      class="hover:shadow-gray-700 hover:cursor-pointer bg-gray-50 shadow-sm ml-1 text-cyan-700 flex items-center justify-center p-0.5 rounded-full self-center"
      data-testid="add-expense"
    >
      <span class="material-icons" style="font-size: 14px">edit</span>
    </button>
    <button
      class="hover:shadow-gray-700 hover:cursor-pointer bg-gray-50 shadow-sm ml-1 text-cyan-700 flex items-center justify-center p-0.5 rounded-full"
      data-testid="add-expense"
    >
      <span class="material-icons" style="font-size: 14px">delete</span>
    </button>
  --></div>
  @for (payer of roomStore.room()?.payers; track payer.id) {
  <app-payer [payer]="payer"></app-payer>
  }
</div>
<div
  class="p-2.5 rounded-sm fixed bottom-2 bg-white left-2 right-2 flex justify-between shadow-sm shadow-gray-700"
>
  <input
    type="text"
    placeholder="new payer name"
    [(ngModel)]="payerName"
    data-testid="payer-name"
    class="focus:border-cyan-700 hover:bg-gray-100 placeholder:text-gray-400 outline-none border-1 p-2 rounded-sm border-gray-300 bg-gray-50"
  />
  <button
    class="hover:bg-cyan-700 hover:cursor-pointer rounded-2xl px-5 py-1.5 ml-2 bg-cyan-600 text-white font-bold"
    data-testid="add-payer"
    (click)="addPayer()"
  >
    Add
  </button>
</div>
a
